@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito+Sans&family=Oswald:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    font-family: 'Nunito Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

li {
    list-style: none; 
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 325px;
    grid-template-rows: 200px 1fr;
}


/* ----- NOTIFICATION / SEARCH / PROFILE ----- */

.header {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 2fr 1fr;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    position: relative;
    box-shadow: 0px 5px 15px -3px rgba(149, 149, 150, 0.885);
}

.search-bar {
    display: flex;
    flex-grow: 1;
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 10px;
    align-items: center;
    gap: 2px;
}
 
.search-bar button {
    background-image: url("magnify.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    background-position: 50%;
}


.search-bar button:hover {
    scale: 0.95
}

button span {
    display: none;
}

input {
    font-family: inherit;
    font-size: 100%;
    flex-grow: 1;
    border-radius: 20px;
    border-style: none;
    outline: none;
    height: 30px;
    padding-left: 12px;
    padding-right: 10px;
    padding-bottom: 2px;
    background-color: rgb(233, 240, 240);
}

input:hover {
    border: 1px solid rgba(155, 155, 155, 0.147);
    filter: blur(.4px); 
    padding-left: 11px;  
}


/* ----- PROFILE ----- */

.profile-header {
    background-image: url("ramen.png");
    grid-column: 1;
    grid-row: 2;
    background-repeat: no-repeat;
    background-position: 30px 0px;
    background-size: 80px 99px;
    padding-left: 130px;
    display:grid;
    align-content: center; 
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.profile-header p {
    line-height: 1.4rem;
}

.profile-buttons {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding-right: 50px;
    gap: 25px;
    grid-column: 2; 
    justify-content: center;
    align-content: center;
    margin-left: auto;
}

button {
    outline: none;
    border-radius: 60px;
    width: 100px;
    height: 40px;
    background-color: rgb(82, 163, 207);
    color: white;
    border-style: none;
    font-size: 0.9rem;
    font-weight: bold;
}

button:hover {
    scale: 1.04
}

span {
  font-size: 1.5em;
}


/* ----- NOTIFICATION ----- */

.notifications {
    display: grid;
    justify-items: end;
    align-items: center;
    margin-left: auto;
    padding-right: 50px;
    padding-top: 15px;
    grid-template-columns: 60px 60px 100px;
    gap: 25px;
}

.notifications p {
    grid-column: 3;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: auto;
    padding-top: 15px;
}

.notifications img {
    height: 62px;
    width: 50px;
}

.notifications img:first-child {
    height: 30px;
    width: 30px;
    margin-top: 15px;
}

/* ----- MAIN ----- */

.main-content {
    padding-top: 15px;
    display: grid;
    background-color: rgb(235, 240, 240);
    grid-template-columns: 1fr 350px;
    grid-template-rows: 50px 1fr 50px;
} 

.main-content h3 {
    display:grid;
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    padding-left: 15px;
}

.main-content .side-cards h3 {
    display:grid;
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    padding-left: 0px;
    padding-bottom: 20px;
}

h2 {
    display:grid;
    padding-left: 25px;
    align-self: end;
    grid-column-start: 1;
    color: rgb(31, 31, 31);
}

/* ----- CARDS ----- */

.cards {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
    padding: 20px;
    padding-left: 25px;
}
    
.card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 15px;
    display: grid;
    grid-template-rows: 25px 1fr 25px;
    background-color: aliceblue;
    border-radius: 10px;
    border-left-style: solid;
    border-color: rgba(228, 184, 74, 0.896);
    border-width: 7px;
    box-shadow: 5px 5px 15px 0px rgba(149, 149, 150, 0.885);
}

.card h4 {
    grid-row-start: 1;
}

.card p {
    grid-row-start: 2;
    padding-left: 20px;
    padding-right: 20px;
    color:rgb(69, 69, 69);
    padding-bottom: 10px;
}

.card-icons {
    display:flex;
    gap: 15px;
    margin-left: auto;
    opacity: 0.8;
}

.card-icons img:hover {
    opacity: 0.6;
    scale: 0.96
}

h4 {
    padding-left: 20px;
    color:rgb(51, 51, 51)
}


/* SIDE-CARDS */

.side-cards {
    
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 450px 80px 400px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 25px;  
}

.announcements {
    display: grid;
    gap:15px;
    padding-left:25px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 25px;
    align-items: center;
    color: rgb(51, 51, 51);
    background-color: rgb(251, 247, 247);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    border-top-style: solid;
    border-width: 7px;
    border-color: rgba(102, 183, 217, 0.637);
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 5px 5px 15px 0px rgba(149, 149, 150, 0.703);
}

.announcements p:nth-child(1),
.announcements p:nth-child(2) {
    border-bottom: 1px;
    padding-bottom: 30px;
    border-color: rgba(157, 157, 157, 0.871);
    border-bottom-style: solid;
} 

.trending {
    grid-auto-flow: column;
    grid-row: 3;
    gap: 15px;
    background-color: rgba(240, 244, 245, 0.961);
    border-radius: 10px;
    display:grid;
    border-radius: 10px;
    border-top-style: solid;
    border-width: 7px;
    border-color: rgba(102, 183, 217, 0.637);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    box-shadow: 5px 5px 15px 0px rgba(149, 149, 150, 0.885);
}

.trending img {
    place-self: center;
}

.trending p {
    align-self: center;
}


/* ----- SIDEBAR ----- */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 75px 250px;
    background-color: cornflowerblue;
    color: whitesmoke;
    height: 100%;
    padding-left: 10px;
    z-index: 2;
}

.dash-icon {
    place-self: center;
    display: grid;
}

.dash-icon img {
    place-self: center;
}

.icons ul {
    display: grid;
    gap: 20px;
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: repeat(10, 50px);
}

.sidebar-top {
    grid-column: 2;
    align-self: center;
    font-size: 1.7rem;  
}

.sidebar ul {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(10, 50px);   
}

.sidebar ul li {
    align-self: center;
    display: grid;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;  
}

.sidebar ul li img{
    justify-self: center;  
}
